<!DOCTYPE html>
<html>
    <head>
        <title>about page </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body  style="background-image:url(../static/image/freefire10.jpg);
    background-size:cover" >
        <h1>About freefire</h1><br><br>
        <div class="abt">
            <h1>Garena Free Fire is an online-only action-adventure battle royale game played in a third person perspective. The game consists of up to 50 players falling from a parachute on an island in search of weapons and equipment to kill the other players. ... The last player or team standing wins the round</h1><br><br><br><br>
            <br><br>
            <h2>Garena Free Fire OB27 Update: New Map, Characters and many more- Check how to download</h2> <br>
            <p2>An all-new patch update has been pushed in the Free Fire servers as part of the next seasonal update. However, it may take some time for the update to reflect on the official application stores. If you haven’t received the update on your respective platform & can’t wait to relish the new gameplay
                 experience, then go through the download links below to download the all-new OB27 update.</p2>
             <br><br><h2>Garena Free Fire OB27 Update: What are the new features?</h2><br><br>
             <p2>A ton of new stuff has dropped inside the game, like the most awaited ‘Bermuda Remastered’ map. This time the map is a permanent inclusion in the game. Players can drop in for both Clash Squad & Ranked Mode matches.</p2>

             <br><br><h2>Garena Free Fire OB27 Updates: What are the new characters?</h2>
             <br><br><p2>Overpowered characters like Chrono have received nerfs & two new characters named Xayne & Maro have been added to the game. A new type of room Cards titled ‘Advanced Room Cards’ is another addition from the OB27 update.<br>Additionally, a new ranked season for Clash Squad mode kickstarts with this update. Apart from the dynamic changes implemented in Clash Squad Mode, players can also march into battle with new weaponry & a brand new weapon store.</p2>

        </div>
        


    </body>
        

</html>