<!DOCTYPE html>
<html>
    <head>
        <title>dashboard page </title>
        <link rel="stylesheet" href="../static/css/style.css">
        
    </head>
    <body  style="background-image:url(../static/image/freefire7.jpg);
    color: white; background-repeat: no-repeat; background-size: cover;"></body>
        
        
        <div class="container"><br><br>
            <h1>RESUME</h1>
            <div class="card">
                <img src="../static/image/freefire25.jpg" alt="ganesh" style="width:100%" >
                <h1>Ganesh A</h1>
                
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                
              </div>
    
            
            <p1>
                Contact NO:8050710137<br>
                E-mail:ganeshganesh63961@gmail.com
            </p1>
            
            <h1>CAREER OBJECTIVE</h1>
            <p2> looking for a challanging dutiesin an expect
                environmental that makes use of my analysis,<br>
                problem-solving abilities ,expertise and 
                specialized for the mutual development for my carrier<br>
                and the business.
            </p2><br><br>
            <h1>EDUCATIONAL QUALIFICATION</h1>
            <p3> completed my UG in jansons institute of technology coimbatore <br>
                at university board of Anna Univercity</p3>

                <h1>ACADEMIC EXPOSURES</h1><br>
                <p4>Completed the Implant trainingat “Caliber Technology in<br>
                    Comibatore”for learningabout Soldering and Arduino.<br><br>
                Presented a “fire alarm” as mini project in “Jansons Institute of Technology<br>
                Presented a “MONETERING SYSTEM OF HEALTH CARE” as final year project in <br>
                “Jansons Institute of Technology</p4>

                <h1>Technical skill</h1><br>
                <p6>Ability to implement the basic OOPS concepts in Java 
                    programming <br><br>➢Knowledge in the basic concepts in Electrical Machines</p6>

                    <h1>Area of Interest</h1><br>
                    <p7>Transmission and Distribution<br>Linear Integrated Circuits</p7><br>
                    <br><h1>Strengths</h1>
                    <p1>Ability to work with team with dedication<br>
                        Quick Learning, implementing capabilities & Multitasking.<br>
                        Self Confidence, Motivating others</p1><br>
                        <br><h1>Personal Profile</h1>
                        Date of Birth:03/07/1999<br>
                        Residency Address    :110,VOC street, workshop gate,neyveli1 <br>
                        Gender: Male<br>
                        Hobbies:Playing chess and kabaddi. 
                        <br><br><h1>Declaration</h1>
                        <p8> hereby declare that the informations furnished above are true to the best of my Knowledge  and belief.</p8>






        </div>
        
        
      
    </body>
        

</html>
    
        