<!DOCTYPE html>
<html>
    <head>
        <title> verifying OTP page </title>
        <link rel="stylesheet" href="../static/css/style.css">
        <body style="background-image:url(../static/image/freefire8.jpg);
     background-size:cover">
    </head>
    
        <h1 style="text-align: center;">check your mail id to enter OTP</h1>
        <form action="password.html">
        <label>otp</label>
        <input type="text" placeholder="enter your otp number" required><br><br><br>
        
        <input type="submit">
        </form>
    </body>